# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.production
.env.test
.envrc

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log.*

# Build output
.next/
out/
dist/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Prisma
prisma/*.db
prisma/migrations/

# Miscellaneous
*.local
*.pid
*.seed
*.key
*.pem
*.p12
*.pfx

# Service account / credentials files
service-account*.json
*serviceAccount*.json
firebase-adminsdk*.json
gcp-credentials*.json
google-credentials*.json

# Ignore public sensitive files
public/saime-seeklogo.png
.vercel